<div class="row">
    <div class="col-md-12">
        {{#each user}}
                    <h1>Welcome {{this.dataValues.name}}</h1>
            {{#each this.dataValues.orders}}
            <h3>Order Id: {{this.dataValues.order_code}}</h3>
                <ul>
                    {{#each this.dataValues.items}}
                        <p>{{dataValues.saleItem.dataValues.name}}: ${{dataValues.saleItem.dataValues.price}}<span class="price"></span></p>
                    {{/each}}
                    <hr>
                    <p>Total <span class="price black"><b>${{getTotal this.dataValues.items}}</b></span></p>
                </ul>
            {{/each}}
        {{/each}}
    </div>
</div>